<!doctype html>
<html ng-app="testApp">
  <head>
    <title>My Angular App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="../release/dynamic-decimal.js"></script>
    <script>
        angular.module("testApp", ["dynamicNumber"]);
    </script>
  </head>
  <body>
    <div class="container-fluid content">
      <div class="col-sm-10 com-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
          <h1>Example of angular dynamic number</h1>
          <form class="form-horizontal" ng-init="value1 = '';value2 = '';value3 = '';value4 = '';value5 = '';">
            <div class="form-group">
              <label for="invoice_number" class="control-label">Number may be positive or negative, decimal separator comma</label>
              <input type="string" ng-model="value1" class="form-control" awnum num-sep="," num-int=4 num-fract=2 placeholder="e.g. XXXX,XX">
              <div>How looks model: {{value1}}</div>
            </div>
            <div class="form-group">
              <label for="invoice_number" class="control-label">Number may be positive or negative, decimal separator dot</label>
              <input type="string" ng-model="value2" class="form-control" awnum num-sep="." num-int=4 num-fract=2 placeholder="e.g. XXXX.XX">
              <div>How looks model: {{value2}}</div>
            </div>
            <div class="form-group">
              <label for="invoice_number" class="control-label">Number may be positive or negative, only real numbers</label>
              <input type="string" ng-model="value3" class="form-control" awnum num-int=3 num-fract=0 placeholder="e.g. XXX">
              <div>How looks model: {{value3}}</div>
            </div>
            <div class="form-group">
              <label for="invoice_number" class="control-label">Number may be only negative, decimal separator dot</label>
              <input type="string" ng-model="value4" class="form-control" awnum num-sep="." num-int=4 num-fract=2 num-pos=false placeholder="e.g. -XXXX.XX">
              <div>How looks model: {{value4}}</div>
            </div>
            <div class="form-group">
              <label for="invoice_number" class="control-label">Number may be only negative, decimal separator dot integer number 0</label>
              <input type="string" ng-model="value5" class="form-control" awnum num-sep="." num-int=0 num-fract=2 num-pos=false placeholder="e.g. -XXXX.XX">
              <div>How looks model: {{value5}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>